{% extends "base" %}
{% block title %}Posts tagged: {{ tag }}{% endblock title %}
{% block body_class %}"center-body blog"{% endblock body_class %}

{% block content %}
    Latest posts:

    {% set highlight_first = true %}
    {% include "blog/post-list" %}
{% endblock content %}

